<h2>Features</h2>

<div>
    <div class="div-1">
        <img src="assets/images/f1.jpg" class="img-thumbnail" alt="...">
        <p><b class="bolt">Authorised Hosts & Admins</b> <br>
            The teacher(host) can create a class, add participants, schedule timings, control video and audio settings
            of the participants from the particular session, create quizzes, view attendance etc. The authorised Admin
            adds the teachers, students, classes, subjects etc and will be able to monitor every session and modify the
            templates if required, the host will only be provided with access to one session at a time, whereas the
            admin has access to multiple sessions. The admin is the only person who can upload data, add participants to
            the class, view the total number in every session, the number of participants attending the session, the
            number of sessions completed, future sessions, etc.</p>
    </div>
    <div class="div-2">
        <p><b class="bolt">Unique Domain, Username & Password</b><br>
            Insight Mirror enables participants, Admins and hosts to create a unique username and password which will
            provide access to the sessions. This is a one time process and it is mandatory to have a username and
            password-protected account. The user name consists of the participant's name and the domain, which is the
            name of the institution.The app does not allow access to the sessions without an authorised user account.
        </p>
        <img src="assets/images/f2.webp" class="img-thumbnail" alt="">
    </div>
    <div class="div-1">
        <img src="assets/images/f3.webp" class="img-thumbnail" alt="">
        <p><b class="bolt">One on One Screen Experience</b><br>
            Insight Mirror believes every student requires personal care and attention from timeto time, which is why we
            have a custom 'One on One screen'. The one on one screen enables the participant to view only the host's
            screen thereby creating an illusion of undivided attention to one particular participant even though there
            are many participants in the session. The participant can switch to the multiple screen feature if required.
        </p>
    </div>

    <div class="div-2">
        <p><b class="bolt f4">Easy Scheduling & Personalisation of Sessions</b><br>
            Insight Mirror is very user-friendly and allows the host to create a tailor-made session. Once the host
            creates the session, he/she can schedule the session by adding the date and time. It allows the host to add
            participants according to the requirement of the session. There is no minimum number, as sessions can take
            place with one participant also. Once the host assigns a name to the session and adds the participants, it
            instantly is added to the participant's schedule.</p>
        <img src="assets/images/f4.webp" class="img-thumbnail" alt="">
    </div>
    <div class="div-1">
        <img src="assets/images/f5.webp" class="img-thumbnail" alt="">
        <p><b class="bolt">Personalised Branding Facility</b> <br>
            Insight Mirror allows the Admin to personalise the look and feel of their page with customised themes,
            backgrounds, logos, fonts etc. It enables every signed up organisation to have a brand that suits their
            personality, according to their norms and requirements. The branding shall be accessed and modified only by
            the Admin.</p>
    </div>
    <div class="div-2">
        <p><b class="bolt">Integrated Quizzes</b><br>
            We understand that Online sessions can be monotonous and it is quite a task to grab everybody's attention
            for the entire forty minutes. Hence there are integrated quizzes that will help the host spruce up
            everyone's mood. Every quiz is created and assigned by the host to their participants as per the requirement
            of the session. The host can schedule the quiz and view the insights along with the attendance summary after
            the participants complete it. This feature is very efficient, as it saves the host lot of time and effort.
        </p>
        <img src="assets/images/f6.webp" class="img-thumbnail" alt="">
    </div>
    <div class="div-1">
        <img src="assets/images/f7.webp" class="img-thumbnail" alt="">
        <p><b class="bolt">Attendance</b><br>
            Attendance is provided with tracking of the student’s activities such as Tab Switching, Closing of browser,
            and can be exported as a CSV file.</p>
    </div>
    <div class="div-2">
        <p>
            <b class="bolt">No Links/ Codes</b><br>
            We offer a high-end learning experience with the no link/ codes features. Every class is updated on the
            participant's schedule once the Host creates a session. It saves the Host from sending multiples links or
            codes and does not give room for any confusion.
        </p>
        <img src="assets/images/f8.webp" class="img-thumbnail" alt="">
    </div>
    <div class="div-1">
        <img src="assets/images/f9.webp" class="img-thumbnail" alt="">
        <p> <b class="bolt">Dark & Light Theme</b><br>
            Every user has the screen customisation option. Users can switch between dark andlight theme according to
            their
            preference.</p>
    </div>
    <div class="div-2">
        <p><b class="bolt">Message & Chat Room</b><br>
            A message and chat section is available for the participants for queries, comments, suggestions and
            responding during the session.</p><br>
        <img src="assets/images/f10.webp" class="img-thumbnail" alt="">
    </div>
    <div class="div-1">
        <img src="assets/images/f11.webp" class="img-thumbnail" alt="">
        <p> <b class="bolt">Recording Sessions</b><br>
            The record button allows the hosts, participants and admins to record the live session and saves it for
            later. It promotes easy learning for participants who missed the session, can be used as reference material
            for quizzes and it also helps the host to keep track of the knowledge imparted.</p>
    </div>
    <div class="div-2">
        <p> <b class="bolt">Digital Whiteboard</b><br>
            Insight Mirror gives the host access to a digital whiteboard which is a replica of the regular blackboard to
            provide the participants with a much-personalised classroom touch. The whiteboard lets the host use a pen to
            write, draw, etc and have an interactive session.</p>
        <img src="assets/images/f12.webp" class="img-thumbnail" alt="">
    </div>
    <div class="div-1">
        <img src="assets/images/f13.webp" class="img-thumbnail" alt="">
        <p><b class="bolt">Host Controlled Sessions</b><br>
            The session starts only after the Host starts the session and grants permission to the participants to
            attend the session. The session automatically expires once the host exits.</p>
    </div>
    <div class="div-2">
        <p><b class="bolt">Video & Audio Controls</b><br>
            The Host controls the video and audio settings of the participants, it allows the host to toggle the video
            and mute or unmute any participant as per their requirement. The participants need to request permission for
            the host to unmute them in between sessions.</p>
        <img src="assets/images/f15.webp" class="img-thumbnail" alt="">
    </div>
</div>
<footer>
    <div>
        <ul class="footer">
            <p>Company</p>
            <a href="">About</a>
            <a href="">Features</a>
            <a href="">Feedback</a>
        </ul>
    </div>
    <div>
        <ul class="support">
            <p>Support And Contact</p>
            <a href="">Contact US</a>
            <a href="">FAQ</a>
            <a href="">24/7-Coustmer-supports</a>
        </ul>
    </div>
    <div>
        <ul class="terms">
            <a href="">Terms and conditions US</a>
            <a href="">Blog</a>
            <a href="">Privacy & Legal Policies</a>
            <a href="">Request a demo</a>
        </ul>
    </div>
    <div>
        <a routerLink="#" class="a1"><img class="ft1 ft11" src="assets/images/fb1.png" alt=""></a>
        <a routerLink="#" class="a1"><img class="ft1 ft12" src="assets/images/twt.png" alt=""></a>
        <a routerLink="#" class="a1"> <img class="ft1 ft13" src="assets/images/google.png" alt=""></a>
        <a routerLink="#" class="a1"> <img class="ft1 ft14" src="assets/images/mail.png" alt=""></a>
    </div>
    <div class="f-p">
        <p>Copyright ©2020 Insight Mirror, Inc. All rights reserved.</p>
    </div>

</footer>