<form class="row g-3">
    <h2>
        Contacts Us
    </h2>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">First Name</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Last Name</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Email</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Phone Number</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Institute Name</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Institution Size</label>
        <input type="text" class="form-control" id="inputAddress">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<footer>
    <div>
        <ul class="footer">
            <p>Company</p>
            <a href="">About</a>
            <a href="">Features</a>
            <a href="">Feedback</a>
        </ul>
    </div>
    <div>
        <ul class="support">
            <p>Support And Contact</p>
            <a href="">Contact US</a>
            <a href="">FAQ</a>
            <a href="">24/7-Coustmer-supports</a>
        </ul>
    </div>
    <div>
        <ul class="terms">
            <a href="">Terms and conditions US</a>
            <a href="">Blog</a>
            <a href="">Privacy & Legal Policies</a>
            <a href="">Request a demo</a>
        </ul>
    </div>
    <div>
        <a routerLink="#" class="a1"><img class="ft1 ft11" src="assets/images/fb1.png" alt=""></a>
        <a routerLink="#" class="a1"><img class="ft1 ft12" src="assets/images/twt.png" alt=""></a>
        <a routerLink="#" class="a1"> <img class="ft1 ft13" src="assets/images/google.png" alt=""></a>
        <a routerLink="#" class="a1"> <img class="ft1 ft14" src="assets/images/mail.png" alt=""></a>
    </div>
    <div class="f-p">
        <p>Copyright ©2020 Insight Mirror, Inc. All rights reserved.</p>
    </div>

</footer>