<div>
    <h1>Plans & Pricing</h1>
</div>
<div id="total">
    <div class="cardone">
        <h2>FREE</h2><br>
        <p><b class="bolt">$0/month</b> <br>
            60 participants per live class
            Unlimited Students
            Unlimited Schedule class
            Online Exams
            Remote proctoring
            Dedicated Phone Support
            Free Feature upgrades
            Monthly Status Reports
            
        </p>
        <button class="btn">SUBSCRIBE</button>
    </div>
    <div class="cardtwo">
        <h2>PLUS</h2><br>
        <p>
            <b class="bolt">$9/month</b> <br>
             5 Users
            50GB Storage
            Unlimited Public Projects
            Community Access
            Unlimited Private Projects
            Dedicated Phone Support
            Free Subdomain
            Monthly Status Reports
            
        </p>
        <button class="btn">SUBSCRIBE</button>
    </div>
    <div class="cardthree">
        <h2>PRO</h2><br>
        <p>

            <b class="bolt">$49/month</b><br>
            Unlimited Users
            150GB Storage
            Unlimited Public Projects
            Community Access
            Unlimited Private Projects
            Dedicated Phone Support
            Unlimited Free Subdomains
            Monthly Status Reports
            
        </p>
        <button class="btn">SUBSCRIBE</button>
    </div>
</div>
<div>
    <p style="font-size: 30px ;text-align: center;padding: 25px;">Full Feature Comparison</p>
</div>
<footer>
    <div>
        <ul class="footer">
            <p>Company</p>
            <a href="">About</a>
            <a href="">Features</a>
            <a href="">Feedback</a>
        </ul>
    </div>
    <div>
        <ul class="support">
            <p>Support And Contact</p>
            <a href="">Contact US</a>
            <a href="">FAQ</a>
            <a href="">24/7-Coustmer-supports</a>
        </ul>
    </div>
    <div>
        <ul class="terms">
            <a href="">Terms and conditions US</a>
            <a href="">Blog</a>
            <a href="">Privacy & Legal Policies</a>
            <a href="">Request a demo</a>
        </ul>
    </div>
    <div>
        <a routerLink="#" class="a1"><img class="ft1 ft11" src="assets/images/fb1.png" alt=""></a>
        <a routerLink="#" class="a1"><img class="ft1 ft12" src="assets/images/twt.png" alt=""></a>
        <a routerLink="#" class="a1"> <img class="ft1 ft13" src="assets/images/google.png" alt=""></a>
        <a routerLink="#" class="a1"> <img class="ft1 ft14" src="assets/images/mail.png" alt=""></a>
    </div>
    <div class="f-p">
        <p>Copyright ©2020 Insight Mirror, Inc. All rights reserved.</p>
    </div>

</footer>